.openChatBtnCont {
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 4;
}
.shopMainCont {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  .heartCont {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 25;
    transition: 0.5s;
    pointer-events: none;
    opacity: 0.7;
    animation-name: popss2;
    animation-duration: 1s;
  }
  @keyframes popss2 {
    0% {
      transform: translate(-50%, -50%) scale(1);
    }
    40% {
      transform: translate(-50%, -50%) scale(1.2);
    }
    50% {
      transform: translate(-50%, -50%) scale(1);
    }
    60% {
      transform: translate(-50%, -50%) scale(1.3);
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
    }
  }
  .heartHide {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 10;
    transition: 0.5s;
    pointer-events: none;
    opacity: 0.7;
  }

  .addedCont {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 7;
    pointer-events: none;
    display: none;
    transition: 1s;
  }

  .addedContShow {
    display: block;
  }

  .failedCont {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 11;
    pointer-events: none;
    transform: scale(0);
    transition: 0.2s;
  }

  .failedContShow {
    transform: scale(1);
  }

  .botPreviewWrapper {
    transform: translateY(100%);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 10;
    transition: 0.5s;
    .botPreview {
      position: fixed;
      width: 90%;
      height: 80%;
      background-color: #fff;
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.178);
      transition: 0.5s;
      z-index: 6;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0%);
      overflow: hidden;
      padding: 50px 20px;
      .closeMainBtnCont {
        position: absolute;
        top: 20px;
        right: 20px;
      }

      .mainLikeBtnCont {
        position: absolute;
        top: 50px;
        left: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        .mainLikeBtn {
          height: 75px;
          width: 75px;
          .likedIcon {
            font-size: 50px;
            color: #000;
          }
          .unlikedIcon {
            font-size: 50px;
            color: #000;
          }
        }
        .likeNum {
          z-index: 4;
        }
      }

      .mainAddtocartBtnCont {
        position: absolute;
        top: 75px;
        right: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 150px;
        z-index: 9;
        .mainAddtocartBtn {
          height: 100%;
          width: 100%;
        }
      }

      .mainContent {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 50px 50px;
        overflow-y: scroll;
        .mainTopCont {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          .mainImgWrapper {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 300px;
            .mainPrevBtn {
              color: rgba(0, 0, 0, 0.493);
              .mainPrevIcon {
                font-size: 30px;
              }
            }
            .mainImgCont {
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 10px;
              overflow: hidden;
              height: 100%;
              img {
                object-fit: fill;
                object-position: center;
                height: 100%;
              }
            }
            .mainNextBtn {
              color: rgba(0, 0, 0, 0.493);
              .mainNextIcon {
                font-size: 30px;
              }
            }
            .numCont {
              position: absolute;
              display: flex;
              align-items: center;
              justify-content: center;
              bottom: 10px;
              background-color: rgba(0, 0, 0, 0.205);
              height: 35px;
              width: 50px;
              border-radius: 2rem;
              .num {
                color: #fff;
                font-weight: 200;
              }
            }
          }
          .mainImgPreview {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            height: 100px;
            .mainImgPreviewSubCont {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
              max-width: 400px;
              overflow-y: scroll;
              .imgSubWrap {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                  height: 100%;
                  object-fit: fill;
                }
              }
            }
            ::-webkit-scrollbar {
              display: block;
              width: 1px;
              border-radius: 10px;
              height: 5px;
            }
            ::-webkit-scrollbar-track {
              background: transparent;
            }
            ::-webkit-scrollbar-thumb {
              background-color: #a8a8a8;
              border-right: none;
              border-left: none;
              border-radius: 10px;
              width: 2px;
            }
            ::-webkit-scrollbar-track-piece:end {
              background: transparent;
              margin-bottom: 10px;
            }
            ::-webkit-scrollbar-track-piece:start {
              background: transparent;
              margin-top: 10px;
            }
            ::-webkit-scrollbar-button {
              height: 12px;
            }
          }
          .mainInfoCont {
            margin-top: 20px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .mainPriceCont {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
          .mainVariationCont {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            justify-content: center;
            .mainVariationSubCont {
              margin-top: 20px;
              display: flex;
              align-items: center;
              max-width: 300px;
              overflow-x: scroll;
              height: 70px;
              .mainVariations {
                overflow: hidden;
                height: 50px;
                width: 200px;
              }
            }
          }
          .mainSizeCont {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            justify-content: center;
            z-index: 3;
            .mainSizeSubCont {
              margin-top: 20px;
              display: flex;
              align-items: center;
              max-width: 300px;
              overflow-x: scroll;
              height: 70px;
              .mainSizes {
                height: 65px;
                width: 65px;
                border-radius: 50%;
                overflow: hidden;
              }
            }
          }
          .mainPriceListWrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            .mainPriceListCont {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              .sizeList {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .mainSizes {
                  margin-bottom: 10px;
                }
              }
              .priceList {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .mainPrices {
                  margin-bottom: 10px;
                }
              }
            }
          }

          .mainDescriptionCont {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 50px;
            .mainDescriptionSubCont {
              display: flex;
              flex-direction: column;
              max-width: 700px;
              max-height: 500px;
              overflow-y: scroll;
              padding: 10px 20px;
              p {
                display: inline-block;
                text-align: justify;
              }
            }
            ::-webkit-scrollbar {
              display: block;
              width: 5px;
              border-radius: 10px;
              height: 5px;
            }
            ::-webkit-scrollbar-track {
              background: transparent;
            }
            ::-webkit-scrollbar-thumb {
              background-color: #a8a8a8;
              border-right: none;
              border-left: none;
              border-radius: 10px;
              width: 10px;
            }
            ::-webkit-scrollbar-track-piece:end {
              background: transparent;
              margin-bottom: 10px;
            }
            ::-webkit-scrollbar-track-piece:start {
              background: transparent;
              margin-top: 10px;
            }
          }
          .mainCommentsWrap {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 40px;
            .mainCommentsCont {
              display: flex;
              flex-direction: column;
              width: 50%;
              .commentCont {
                display: flex;
                flex-direction: column;
                margin-top: 30px;
                .commentSubCont {
                  display: flex;
                  align-items: center;
                  margin-bottom: 10px;
                  .commentAvatar {
                    height: 40px;
                    width: 40px;
                  }
                  .comNameCont {
                    margin-left: 10px;
                  }
                }
                .commentsText {
                  margin-left: 10px;
                }
                .mainCommentImgCont {
                  display: flex;
                  align-items: center;
                  height: 80px;
                  .mainCommentImg {
                    height: 100%;
                    margin-left: 10px;
                    img {
                      height: 100%;
                      object-fit: fill;
                    }
                  }
                }
              }
            }
          }
        }
      }
      ::-webkit-scrollbar {
        display: block;
        width: 5px;
        border-radius: 10px;
        height: 5px;
      }
      ::-webkit-scrollbar-track {
        background: transparent;
      }
      ::-webkit-scrollbar-thumb {
        background-color: #a8a8a8;
        border-right: none;
        border-left: none;
        border-radius: 10px;
        width: 10px;
      }
      ::-webkit-scrollbar-track-piece:end {
        background: transparent;
        margin-bottom: 10px;
      }
      ::-webkit-scrollbar-track-piece:start {
        background: transparent;
        margin-top: 10px;
      }
    }
    .botPreviewShow {
      transform: translate(-50%, 0%);
    }
  }
  .botPreviewWrapperShow {
    transform: translateY(0px);
  }

  .breadCrumbs {
    top: 120px;
    position: absolute;
    left: 50px;
  }
  .shopCont {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    .shopSubCont {
      margin-top: 150px;
      height: 100%;
      width: 100%;
      padding: 50px 30px;
      overflow: hidden;

      .shopTopCont {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
        margin-left: 50px;
        padding-right: 100px;
        .searchCont {
          width: 220px;
          transition: 0.5s;
          .shopSearchbar {
            width: 100%;
          }
        }
        .searchContF {
          width: 300px;
        }

        .shopTopRightCont {
          display: flex;
          align-items: center;
          .filterBtn {
            margin-right: 20px;
          }
          .filterCategory {
            width: 200px;
          }
        }
      }
      .prodWrap {
        position: relative;
        display: inline-block;
        .productCard {
          position: relative;
          display: inline-block;
          padding: 20px 40px;
          height: 520px;
          width: 330px;
          margin-bottom: 50px;
          margin-left: 30px;
          border-radius: 10px;
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.459);
          cursor: pointer;
          transition: 0.5s;
          overflow: hidden;
          &:hover {
            transform: translateY(-5px);
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.178);
            transition: 0.5s;
          }
          .topBurger {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 10px;
            right: 10px;
            height: 50px;
            width: 50px;
            .topBurgerBtn {
              height: 100%;
              width: 100%;
              .openMain {
                transition: 0.5s;
                transform: scaleX(-1);
              }
              .closeMain {
                transition: 0.5s;
              }
            }
          }
          .prodTopCont {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            .imgWrapper {
              display: flex;
              height: 160px;
              width: 100%;
              align-items: center;
              justify-content: space-between;
              .nextBtn {
                opacity: 0.5;
              }
              .prevBtn {
                opacity: 0.5;
              }
              .prodImageCont {
                width: 100%;
                height: 100%;
                overflow: hidden;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 1s;
                animation-name: fade;
                animation-duration: 1s;
                .prevBtn {
                  float: left;
                }
                img {
                  height: 100%;
                  object-fit: fill;
                }
              }

              .prodImageCont2 {
                width: 100%;
                height: 100%;
                overflow: hidden;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                animation-name: fade;
                animation-duration: 2s;
                transition: 1s;
                .prevBtn {
                  float: left;
                }
                img {
                  height: 100%;
                  object-fit: fill;
                }
              }
              @keyframes fade {
                0% {
                  opacity: 0;
                }
                100% {
                  opacity: 1;
                }
              }
            }

            .imgDisplayCont {
              display: flex;
              transform: scale(0.7);
              .allImageCont {
                margin-top: 20px;
                width: 100%;
                height: 50px;
                overflow: hidden;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                img {
                  height: 100%;
                  object-fit: cover;
                }
              }
            }
          }
          .prodTitleCont {
            display: flex;
            width: 100%;
            // margin-top: 20px;
            justify-content: space-between;
            .title {
              width: 40%;
              text-align: left;
            }
            .price {
              width: 30%;
              text-align: right;
            }
            .price2 {
              width: 30%;
              text-align: left;
            }
          }

          .variantCont {
            margin-top: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            overflow-x: auto;
            scrollbar-color: rgba(0, 0, 0, 0);
            scroll-behavior: smooth;
            transform: scale(0.7);
            .variants {
              display: flex;
              width: 150px;
              height: 50px;
              margin-left: 20px;
              border-radius: 5px;
              border: 1px solid black;
              text-align: left;
              overflow: hidden;
            }
          }

          .sizesCont {
            // margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            overflow-x: auto;
            scrollbar-color: rgba(0, 0, 0, 0);
            scroll-behavior: smooth;
            transform: scale(0.6);
            .sizes {
              display: flex;
              width: 150px;
              height: 50px;
              margin-left: 20px;
              border-radius: 5px;
              border: 1px solid black;
              text-align: left;
              overflow: hidden;
            }
          }
          ::-webkit-scrollbar {
            display: block;
            width: 1px;
            border-radius: 10px;
            height: 10px;
          }
          ::-webkit-scrollbar-track {
            background: transparent;
          }
          ::-webkit-scrollbar-thumb {
            background-color: #a8a8a8;
            border-right: none;
            border-left: none;
            border-radius: 10px;
            width: 2px;
          }
          ::-webkit-scrollbar-track-piece:end {
            background: transparent;
            margin-bottom: 10px;
          }
          ::-webkit-scrollbar-track-piece:start {
            background: transparent;
            margin-top: 10px;
          }

          .dateCont {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            p {
              color: rgba(0, 0, 0, 0.479);
              transform: scale(0.6);
            }
          }

          .soldCont {
            display: flex;
            position: absolute;
            right: 15px;
            bottom: 115px;
            align-items: center;
            p {
              color: rgba(0, 0, 0, 0.479);
            }
          }

          .likeBtnCont {
            position: absolute;
            left: 1px;
            bottom: 100px;
            display: flex;
            align-items: center;
            .likeBtn {
              color: rgba(0, 0, 0, 1);
              border-color: rgba(0, 0, 0, 0.404);
              .bordered {
                opacity: 0.7;
              }
            }
          }

          .ratingCont {
            position: absolute;
            bottom: 60px;
            left: 0;
            width: 100%;
            .ratingSubCont {
              display: flex;
              align-items: center;
              width: 100%;
              justify-content: center;
            }
          }
          .noRate {
            position: absolute;
            bottom: 60px;
            left: 0;
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            p {
              font-size: smaller;
            }
          }

          .reviewNum {
            position: absolute;
            bottom: 65px;
            left: 10px;
            p {
              font-size: smaller;
              opacity: 0.7;
            }
          }

          .addToCartBtnCont {
            height: 50px;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            .addToCartBtn {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
    .noprod {
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
@media screen and(max-width: 750px) {
  .shopMainCont {
    .heartCont {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0.5);
      z-index: 20;
      transition: 0.5s;
      pointer-events: none;
      opacity: 0.7;
      animation-name: popss2;
      animation-duration: 1s;
    }
    @keyframes popss2 {
      0% {
        transform: translate(-50%, -50%) scale(0.5);
      }
      40% {
        transform: translate(-50%, -50%) scale(0.7);
      }
      50% {
        transform: translate(-50%, -50%) scale(0.5);
      }
      60% {
        transform: translate(-50%, -50%) scale(0.8);
      }
      100% {
        transform: translate(-50%, -50%) scale(0.5);
      }
    }
    .heartHide {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      z-index: 10;
      transition: 0.5s;
      pointer-events: none;
      opacity: 0.7;
    }
    .botPreviewWrapper {
      z-index: 7;
      .botPreview {
        width: 100%;
        padding: 20px 10px;
        padding-bottom: 60px;
        height: 90%;
        .closeMainBtnCont {
          top: 15px;
          right: 10px;
          z-index: 5;
        }
        .mainLikeBtnCont {
          top: 20px;
          left: 15px;

          .mainLikeBtn {
            height: 50px;
            width: 50px;
            z-index: 5;
            .likedIcon {
              font-size: 30px;
            }
            .unlikedIcon {
              color: rgba(0, 0, 0, 0.596);
              font-size: 30px;
            }
          }
        }
        .mainAddtocartBtnCont {
          width: 100%;
          height: 60px;
          position: fixed;
          top: unset;
          bottom: 0;
          left: 0;
          background-color: #fff;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.178);
          .mainAddtocartBtn {
            height: 40px;
            width: 70%;
          }
        }
        .mainContent {
          padding: 20px 20px;
          padding-bottom: 200px;
          .mainTopCont {
            .mainCommentsWrap {
              .mainCommentsCont {
                width: 100%;
              }
            }
          }
        }
      }
      .botPreviewShow {
        // transform: translate(-50%, -50%);
      }
    }
    .shopCont {
      .shopSubCont {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 10px;
        .shopTopCont {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px 10px;
          margin: 0;
          .searchCont {
            width: 100%;
            transition: 0.5s;
            .shopSearchbar {
              width: 100%;
            }
          }
          .searchContF {
            width: 100%;
          }

          .shopTopRightCont {
            margin-left: 10px;
            width: 100px;
            .filterBtn {
              margin-right: 10px;
            }
            .filterCategory {
              width: 100px;
            }
          }
        }
        .prodWrap {
          transform: scale(0.8);
          .productCard {
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.178);
            margin: 0;
            outline: none;
            outline: 0;
            -webkit-tap-highlight-color: transparent;
            -moz-tap-highlight-color: transparent;
            -o-tap-highlight-color: transparent;
            -webkit-tap-highlight-color: transparent;
            &:hover {
              transform: translate(0px, 0px);
            }
          }
        }
      }
    }
  }
}
