* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.failedContSi {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 11;
  pointer-events: none;
  transform: scale(0);
  transition: 0.2s;
}

.failedContSiShow {
  transform: scale(1);
}
.si_header {
  .si_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;

    .si_title {
      h2 {
        width: 100%;
        text-align: center;
        font-size: 34px;
        font-family: Sofia Pro;
      }
    }
    .si_ob {
      margin-top: 50px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        .si_formField {
          border-radius: 2px;
          border-color: #bcc3ca;
          border-top: 2px solid #bcc3ca;
          border-left: 2px solid #bcc3ca;
          padding-left: 20px;
          font-size: 16px;
          height: 50px;
          width: 30vw;
          margin-top: 20px;
        }
        .si_passField {
          padding-right: 45px;
        }
        .si_formErr {
          height: 16px;
          font-size: 14px;
          color: red;
        }
        .si_passCon {
          position: relative;
          .si_showPass {
            transition: 0.5s;
            cursor: pointer;
            position: absolute;
            right: 20px;
            top: 45%;
            // transform: translateY(-50%);
          }
        }
        .s-s {
          margin-top: 40px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .si_signinBtn {
            padding: 15px 30px;
            border-radius: 50px;
          }
          .si_createBtn {
            margin-top: 20px;
            text-transform: lowercase;
            &::first-letter {
              text-transform: uppercase;
            }
            &:hover {
              color: #2962ff;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 750px) {
  .si_header {
    .si_container {
      .si_ob {
        p {
          text-align: center;
        }
        form {
          padding: 0px 20px;
          .si_formField {
            width: 100%;
          }
          .si_passCon {
            width: 100%;
          }
        }
      }
    }
  }
}
// @media screen and(max-width: 750px) {
//   .si_container {
//     .su_ob {
//       .su_p1 {
//         width: 100%;
//         text-align: center;
//       }
//       form {
//         width: 100%;
//         padding: 0px 20px;
//         .su_formField {
//           width: 100%;
//         }
//         .su_passCon {
//           width: 100%;
//         }
//       }
//     }
//   }
// }
